HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/src/main/java/com/anant/CloudDrive/temp.java
/src/main/resources/S3Credentials.properties
/src/main/resources/static/js/package.json
/src/main/resources/static/js/package-lock.json
/src/main/resources/static/js/tsconfig.json
/src/main/resources/static/js/node_modules/
