
#onGoingUploadsContainer{
    /* border: 5px solid black; */
    background-color: darkslategrey;
    overflow:auto;
    min-height: 4em;
    padding: 1em;
    /* max-height: 15em; */
    max-width: 70%;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    color: darkgray;
}

#onGoingUploadsContainer p {
    text-align: center;
}

div[uploadInstance]{
    margin: 4px;
    border: 2px solid black;
    padding: 1em;
}


/* scroll bar style */

/* width */
::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /* Container styles */
.uploads-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Title styles */
.uploads-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

/* Optional: Add some padding to the paragraph */
.uploads-container p {
  font-size: 16px;
  color: #666;
  padding: 10px;
}
