<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </head>

<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<form action ="/subscriptions/buy" method="post" style="max-width: 40%; margin: 0 auto; text-align: center;">
    <h1>Subscription Page</h1>
    <input type = "radio" id = "100" name = "Tier" value = "100">
    <label for = "100">100 Mb</label>
    <br>
    <input type = "radio" id = "150" name = "Tier" value = "150">
    <label for = "150">150 Mb</label>
    <br>
    <input type = "radio" id = "200" name = "Tier" value = "200">
    <label for = "200">200 Mb</label>
    <br>
    <button type="submit">Buy Tier</button>
</form>
</body>
</html>