<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </head>

<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<h1>Subscription Page</h1>

<form action ="/subscriptions/buy" method="post">
    <input type = "radio" id = "25" name = "Tier" value = "25">
    <label for = "50">25 Gb</label>
    <br>
    <input type = "radio" id = "50" name = "Tier" value = "50">
    <label for = "50">50 Gb</label>
    <br>
    <input type = "radio" id = "75" name = "Tier" value = "75">
    <label for = "50">75 Gb</label>
    <br>
    <button type="submit">Buy Tier</button>
</form>
</body>
</html>