<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:style="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/userHome.css">
    <link rel="stylesheet" href="/css/uploadUI.css">
    <link rel="stylesheet" href="/css/FileListing.css">
    <link rel="stylesheet" href="/css/styles.css">
<!--    <script type="text/javascript" src="/js/home.js"></script>-->
</head>
<body>

<div class="top-bar">
    <div>
        <div class="user-label" id="userLabel">Hi, [[${loggedInUser}]]</div>
    </div>
    <div class="user-info-right">
        <div class="storage-info">
            <div class="storage-indicator">
                <div class="storage-fill" style="width: 70%;"></div>
            </div>
            <p style="margin-top: 5px; margin-bottom: 5px; margin-right: 0.9em;"> [[${userQuota}]] / 10GB </p>
        </div>
        <input type="file" style="display:none;" id="hiddenUploadInput"/>
        <button id="uploadBtn" style="margin-right: 4px;">Upload File</button>
        <button id="viewTransfersBtn">View Transfers</button>
    </div>
</div>

<form style="display: none" action="/subscriptions">
    <input type="submit" value="Upgrade Your Account"/>
</form>

<button id="tableCreationBtn">create Rows </button>

<table class="file-list">
    <thead>
    <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Type</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody id="fileListTableBody">
    </tbody>
</table>


<!-- The Modal -->
<div id="myModal2" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <input type="text" id="renameInput" placeholder="Enter new name">
        <div class="btn-group">
            <button id="cancelBtn">Cancel</button>
            <button id="renameBtn">Rename</button>
        </div>
    </div>
</div>

<div class="uploads-container" id="onGoingUploadsContainer" style="visibility: hidden;">
    <p class="uploads-title">On Going Uploads: </p>
</div>

<script type="module" src="/js/src/sendFile.js" defer></script>
<script src="/js/src/home2.js"></script>
<!--<script type="module" src="/js/script.js" defer></script>-->
<!-- <script type ="module" src = "/js/home.js" defer></script> -->
</body>
</html>