<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:style="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!--        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>-->
<!--        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
    </head>
<body>

<link rel="stylesheet" href="/css/userHome.css">
        <h1>File handling</h1>
        <p th:inline = "text">[[${userQuota}]] / 10GB</p>
        <h2 id = "loggedInUser" th:inline = "text">Hi, [[${loggedInUser}]]</h2>
        <input type="file" id="file" onchange="fileInfo()"/>
        <button type = "button" id = "pauseResumeButton" style="visibility: hidden;">Pause Upload</button>
        <br> 
        <button id ="submitButton">send file Data</button>
        <form action="/subscriptions">
            <input type="submit" value="Upgrade Your Account" />
        </form>

<script src = "/js/sendFile.js"></script>
    <br>
    <br>

    <h3>file Listing is  </h3>
    <div class = "list-group">
        <div class = "list-group-item" th:each ="list: ${fileList}">
                <form th:action="@{/user/download}" method="GET">
                    <span class = "list-group-item-text">
                    <span th:text="${#strings.substringAfter(list.value.name, '/')}">value</span><br>
                    <span th:text = "|(size - ${list.value.size})|">value</span>
                    <span th:text = "|(lastModified - ${list.value.lastModified})|">value</span>
                    </span>
                    <input type="hidden" name="id" th:attr="value = @{${list.key}}" /><br>
                    <button type = "submit" class ="btn btn-info btn-sm text-dark"><span class="glyphicon glyphicon-download">Download</span></button>
                    <button type = "submit" th:formaction="@{/user/delete}" method = "GET" class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-trash">Trash</span>
                    </button>
                </form>
        </div>
    </div>

</body> 
</html>