<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:style="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/css/userHome.css">
        <script>
            function setRenameElemId(id){
                  console.log("Modal button clicked")
                  document.getElementById("renameIdInput").setAttribute("value", id);
                }
            </script>
    </head>
<body>

<header>
    <nav>
        <div id = "navBar">
            <div id = "rightSide">
                <ul>
                    <li> <a href="https://reddit.com">Reddit</a></li>
                    <li> <a href="https://instagram.com">Instagram</a></li>
                    <li> <a href="https://youtube.com">Youtube</a></li>
                    <li class="left"> <a href="https://Home.com">Home</a></li>
                </ul>
            </div>
            <div id = "leftSide">
                <ul>
                    <li> <a href="https://google.com">Google</a></li>
                </ul>
            </div>
        </div>

    </nav>
</header>


        <h1>File handling</h1>
        <p th:inline = "text">[[${userQuota}]] / 10GB</p>
        <h2 id = "loggedInUser" th:inline = "text">Hi, [[${loggedInUser}]]</h2>
        <input type="file" style="display: inline;" id="file"/> 
        
        <!-- progress box -->
        <div id = "progressText" style = "display: none;">
            <span id = "uploadDoneText">hello anant </span><span id = "totalUploadSizeText"> total anant </span>
        </div>

        <button type = "button" id = "pauseResumeButton" style="visibility: hidden;">Pause Upload</button>
        <br> 
        <button id ="submitButton">send file Data</button>
        <form action="/subscriptions">
            <input type="submit" value="Upgrade Your Account" />
        </form>

<script src = "/js/sendFile.js"></script>
    <br>
    <br>

    <h3>file Listing is  </h3>
    <div class = "list-group">
        <div class = "list-group-item" th:each ="list: ${fileList}">
                <form th:action="@{/user/download}" method="GET">
                    <span class = "list-group-item-text">
                    <span th:text="${#strings.substringAfter(list.value.name, '/')}">value</span><br>
                    <span th:text = "|(size - ${list.value.size})|">value</span>
                    <span th:text = "|(lastModified - ${list.value.lastModified})|">value</span>
                    </span>
                    <input type="hidden" name="id" th:attr="value = @{${list.key}}" /><br>
                    <button type = "submit" class ="btn btn-info btn-sm text-dark"><span class="glyphicon glyphicon-download">Download</span></button>
                    <button type = "submit" th:formaction="@{/user/delete}" method = "GET" class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-trash">Trash</span>
                    </button>
                    <button th:attr = "id = @{${list.key}}" type="button" class="btn btn-info btn-sm text-dark" data-toggle="modal" data-target="#myModal" onclick="setRenameElemId(this.id)"><span class="glyphicon glyphicon-edit">Rename</span></button>
                </form>
        </div>
    </div>

<!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Rename File:</h4>
                </div>
                <div class="modal-body">
                    <form th:action="@{/user/renameFile}" method="POST">
                        <input type="text" id="newFileName" name="newFileName"><br><br>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <input id = "renameIdInput" type = "hidden" name = "id">
                            <button type="submit" class="btn btn-success" data-submit="modal">RenameFile</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</body> 
</html>